*,
*::after,
*::before {
  margin: 0; /*убирает отступы у всех элементов*/
  padding: 0; /*убирает внутренние отступы у всех элементов*/
}

html,
body {
  width: 1440px; /*ширина сайта*/
  font-family: "Roboto", sans-serif; /*установка шрифта на сайте*/
  font-size: 62.5%; /*установка базового размера шрифта*/
  color: #1391ce; /*цвет текста на сайте*/
  background: linear-gradient(
    to bottom,
    #1391ceb2,
    #e9f5ff,
    #e9f5ff,
    #e9f5ff,
    #e9f5ff,
    #ffffff
  );
}

img {
  width: 100%; /*ширина изображений на сайте*/
  height: 100%; /*высота изображений на сайте*/
  object-fit: contain; /*сохранение пропорций изображений*/
  flex-shrink: 0; /*запрет сжатия изображений*/
}

a {
  text-decoration: none; /*убирает подчеркивание у ссылок*/
  color: inherit; /*наследует цвет родителя*/
}

button,
input {
  outline: none; /*убирает обводку у кнопок и инпутов*/
  border: none; /*убирает рамку у кнопок и инпутов*/
  cursor: pointer; /*меняет курсор при наведении на кнопки и инпуты*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0; /*убирает отступы у заголовков*/
  margin: 0; /*убирает отступы у заголовков*/
}

.container {
  width: 112rem; /*максимальная ширина контейнера*/
  margin: 0 auto; /*центрирует контейнер*/
}

button {
  border-radius: 2.4rem; /*скругление углов кнопок*/
}

/* Шапка сайта */

.header {
  display: flex; /*делает шапку флексом*/
  justify-content: space-between; /*распределяет элементы шапки по краям*/
  padding-top: 2rem; /*отступ сверху у шапки*/
  padding-bottom: 2rem; /*отступ снизу у шапки*/
}

.header_logo {
  width: 4rem; /*ширина логотипа в шапке*/
  height: 4rem; /*высота логотипа в шапке*/
}

.header_navigation,
.header_nav {
  display: flex; /*делает обертку шапки флексом*/
  align-items: center; /* Выравниваем элементы по вертикали*/
  gap: 3.2rem; /*расстояние между элементами навигации*/
}

.header_wrap {
  display: flex; /*делает логотип флексом*/
  align-items: center; /* Выравниваем элементы по вертикали*/
  gap: 1rem; /*расстояние между логотипом и текстом*/
}

.header_title {
  color: #25468a; /*цвет текста заголовка в шапке*/
  font-size: 2.4rem; /*размер шрифта заголовка в шапке*/
  font-weight: 700; /*жирность шрифта заголовка в шапке*/
  line-height: 100%; /*высота строки заголовка в шапке*/
  letter-spacing: 1%; /*интервал между буквами заголовка в шапке*/
}

.header_nav {
  font-size: 1.6rem; /*размер шрифта навигации в шапке*/
  font-weight: 500; /*жирность шрифта навигации в шапке*/
  line-height: 100%; /*высота строки навигации в шапке*/
  letter-spacing: 0%; /*интервал между буквами навигации в шапке*/
}

.header_link {
  color: #25468a; /*цвет текста навигации в шапке*/
  transition: color 0.3s ease;
}

.header_link:hover {
  color: #ffffff; /*цвет текста навигации в шапке при наведении*/
}

.header_btn {
  font-size: 1.6rem; /*размер шрифта кнопки в шапке*/
  font-weight: 500; /*жирность шрифта кнопки в шапке*/
  padding: 0.9rem 1.8rem; /*внутренние отступы кнопки в шапке*/
  background-color: #ffffff; /*цвет фона кнопки в шапке*/
  transition: background-color 0.3s ease;
}

.header_btn:hover {
  color: #000000; /*цвет текста кнопки в шапке при наведении*/
  background-color: #f0f0f0; /*цвет фона кнопки в шапке при наведении*/
}

/* Main */

.main_section {
  padding-top: 12.4rem; /*отступ сверху у главного блока*/
  padding-bottom: 29.1rem; /*отступ снизу у главного блока*/
  position: relative; /*позиционирование главного блока относительно других элементов*/
}

.main_title {
  color: #25468a; /*цвет основного заголовка*/
  font-weight: 700; /*жирность основного заголовка*/
  font-size: 9.2rem; /*размер основного заголовка*/
  margin-bottom: 0.8rem; /*отступ снизу у основного заголовка*/
}

.main_subtitle {
  color: #3b4a6b; /*цвет подзаголовка*/
  font-weight: 400; /*жирность подзаголовка*/
  font-size: 3.2rem; /*размер подзаголовка*/
  margin-bottom: 2.4rem; /*отступ снизу у подзаголовка*/
}

.main_text {
  font-weight: 400; /*жирность основного текста*/
  font-size: 2rem; /*размер основного текста*/
  color: #3b4a6b; /*цвет основного текста*/
  max-width: 54rem; /*максимальная ширина основного текста*/
  margin-bottom: 1.6rem; /*отступ снизу у основного текста*/
}

.button_main {
  font-weight: 500; /*жирность текста кнопки*/
  font-size: 1.8rem; /*размер текста кнопки*/
  line-height: 100%; /*высота строки текста кнопки*/
  letter-spacing: 4%; /*интервал между буквами текста кнопки*/
  padding: 1.5rem 4.85rem; /*внутренние отступы кнопки*/
  background: #f7ba0e;
  color: #3b4a6b;
  transition: background-color 0.3s ease;
}

.button_main:hover {
  background-color: #e0a70c; /*изменение цвета фона при наведении*/
  color: #030101; /*изменение цвета текста при наведении*/
}

.main_image {
  width: 75.4rem; /*ширина главного изображения*/
  position: absolute; /*абсолютное позиционирование главного изображения*/
  top: 0; /*расположение главного изображения по верхнему краю*/
  left: 47.7%; /*расположение главного изображения по центру*/
}

/* About us */

.about_us_content {
  display: flex; /*делает обертку блока о нас флексом*/
  justify-content: space-between; /*распределяет элементы обертки блока о нас по краям*/
}

.block_about_us {
  width: 35.2rem; /*ширина блока о нас*/
  height: 18.9rem; /*высота блока о нас*/
  background: #1391ce;
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px #0000000d;
  box-shadow: 0px 10px 15px 0px #1f64851a;
}

.about_us_text {
  width: 28.8rem; /*ширина текста блока о нас*/
  font-weight: 700; /*жирность текста блока о нас*/
  font-size: 2.2rem; /*размер текста блока о нас*/
  line-height: 100%; /*высота строки текста блока о нас*/
  letter-spacing: 4%; /*интервал между буквами текста блока о нас*/
  text-align: center; /*выравнивание текста блока о нас по центру*/
  color: #ffffff; /*цвет текста блока о нас*/
  margin: 6.9rem auto 0 auto; /*отступ сверху у текста блока о нас и центрирование*/
}

/* Optimization */

.optimization {
  padding-top: 6.3rem; /*отступ сверху у блока оптимизации*/
}

.otimization_main_title {
  width: 38.7rem; /*ширина основного заголовка блока оптимизации*/
  font-weight: 300; /*жирность основного заголовка блока оптимизации*/
  font-size: 3.6rem; /*размер основного заголовка блока оптимизации*/
  line-height: 121%; /*высота строки основного заголовка блока оптимизации*/
  letter-spacing: 1%; /*интервал между буквами основного заголовка блока оптимизации*/
  text-align: center; /*выравнивание основного заголовка блока оптимизации по центру*/
  margin: 0 auto; /*центрирование основного заголовка блока оптимизации*/
  margin-bottom: 0.8rem; /*отступ снизу у основного заголовка блока оптимизации*/
}

.optimization_line {
  width: 16rem; /*ширина линии под основным заголовком блока оптимизации*/
  height: 0.8rem; /*высота линии под основным заголовком блока оптимизации*/
  opacity: 1; /*непрозрачность линии под основным заголовком блока оптимизации*/
  background-color: #f7ba0e; /*цвет линии под основным заголовком блока оптимизации*/
  margin: 0 auto; /*центрирование линии под основным заголовком блока оптимизации*/
}

.optimization_wrapper {
  display: flex; /*делает обертку блока оптимизации флексом*/
  justify-content: space-between; /*распределяет элементы обертки блока оптимизации по краям*/
  margin-top: 9.6rem; /*отступ сверху у обертки блока оптимизации*/
}

.optimization_image {
  width: 54.4rem; /*ширина изображения блока оптимизации*/
  height: auto; /*автоматическая высота изображения блока оптимизации*/
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 10px 10px 0px #0000000a; /*тень изображения блока оптимизации*/
  box-shadow: 0px 20px 25px 0px #0000001a; /*тень изображения блока оптимизации*/
}

.optimization_image:hover {
  box-shadow: 0px 10px 10px 0px #00000029; /*тень изображения блока оптимизации при наведении*/
  box-shadow: 0px 20px 25px 0px #00000034; /*тень изображения блока оптимизации при наведении*/
}

.optimization_content {
  max-width: 44.8rem; /*максимальная ширина контента блока оптимизации*/
}

.optimization_subtitle {
  font-weight: 400; /*жирность подзаголовка блока оптимизации*/
  font-size: 1.6rem; /*размер подзаголовка блока оптимизации*/
  line-height: 134%; /*высота строки подзаголовка блока оптимизации*/
  letter-spacing: 1%; /*интервал между буквами подзаголовка блока оптимизации*/
  color: #25468a; /*цвет подзаголовка блока оптимизации*/
}

.optimization_title {
  font-weight: 700; /*жирность заголовка блока оптимизации*/
  font-size: 32px; /*размер заголовка блока оптимизации*/
  line-height: 134%; /*высота строки заголовка блока оптимизации*/
  letter-spacing: 1%; /*интервал между буквами заголовка блока оптимизации*/
  color: #1391ce; /*цвет заголовка блока оптимизации*/
  margin-top: 1.6rem; /*отступ сверху у заголовка блока оптимизации*/
}

.optimization_text {
  width: 40.8rem; /*ширина текста блока оптимизации*/
  font-weight: 400; /*жирность текста блока оптимизации*/
  font-size: 1.8rem; /*размер текста блока оптимизации*/
  line-height: 134%; /*высота строки текста блока оптимизации*/
  letter-spacing: 2%; /*интервал между буквами текста блока оптимизации*/
  color: #4f4f4f; /*цвет текста блока оптимизации*/
  margin-top: 3.2rem; /*отступ сверху у текста блока оптимизации*/
}

/* Modern */

.modern {
  margin-top: 12.8rem; /*отступ сверху у блока современности*/
}

.modern_wrapper {
  display: flex; /*делает обертку блока современности флексом*/
  justify-content: space-between; /*распределяет элементы обертки блока современности по краям*/
  align-items: flex-start; /*выравнивание элементов обертки блока современности по центру*/
}

.modern_content {
  max-width: 48.1rem; /*максимальная ширина контента блока современности*/
}

.modern_subtitle {
  font-weight: 400; /*жирность подзаголовка блока современности*/
  font-size: 1.6rem; /*размер подзаголовка блока современности*/
  line-height: 134%; /*высота строки подзаголовка блока современности*/
  letter-spacing: 1%; /*интервал между буквами подзаголовка блока современности*/
  color: #25468a; /*цвет подзаголовка блока современности*/
}

.modern_title {
  font-weight: 700; /*жирность заголовка блока современности*/
  font-size: 32px; /*размер заголовка блока современности*/
  line-height: 134%; /*высота строки заголовка блока современности*/
  letter-spacing: 1%; /*интервал между буквами заголовка блока современности*/
  color: #1391ce; /*цвет заголовка блока современности*/
  margin-top: 1.6rem; /*отступ сверху у заголовка блока современности*/
}

.modern_text {
  width: 44.8rem; /*ширина текста блока современности*/
  font-weight: 400; /*жирность текста блока современности*/
  font-size: 1.8rem; /*размер текста блока современности*/
  line-height: 134%; /*высота строки текста блока современности*/
  letter-spacing: 2%; /*интервал между буквами текста блока современности*/
  color: #4f4f4f; /*цвет текста блока современности*/
  margin-top: 3.2rem; /*отступ сверху у текста блока современности*/
}

.modern_outputs {
  margin-top: 2.4rem; /*отступ сверху у списка преимуществ блока современности*/
}

.modern_outputs_title {
  font-weight: 600; /*жирность заголовка списка преимуществ блока современности*/
  font-size: 2.2rem; /*размер заголовка списка преимуществ блока современности*/
  line-height: 134%; /*высота строки заголовка списка преимуществ блока современности*/
  letter-spacing: 2%; /*интервал между буквами заголовка списка преимуществ блока современности*/
  color: #1391ce; /*цвет заголовка списка преимуществ блока современности*/
  margin-bottom: 1.6rem; /*отступ снизу у заголовка списка преимуществ блока современности*/
}

.modern_outputs_items {
  width: 47.5rem; /*ширина элемента списка преимуществ блока современности*/
  display: flex; /*делает элемент списка преимуществ блока современности флексом*/
  align-items: flex-start; /*выравнивание элементов списка преимуществ блока современности по центру*/
  gap: 1.6rem; /*расстояние между элементами списка преимуществ блока современности*/
  margin-top: 0.8rem; /*отступ сверху у элемента списка преимуществ блока современности*/
}

.modern_features_output_check {
  width: 2.4rem; /*ширина иконки галочки списка преимуществ блока современности*/
  height: 2.4rem; /*высота иконки галочки списка преимуществ блока современности*/
}

.modern_features_output_text {
  font-weight: 400; /*жирность текста элемента списка преимуществ блока современности*/
  font-size: 1.8rem; /*размер текста элемента списка преимуществ блока современности*/
  line-height: 134%; /*высота строки текста элемента списка преимуществ блока современности*/
  letter-spacing: 2%; /*интервал между буквами текста элемента списка преимуществ блока современности*/
  color: #4f4f4f; /*цвет текста элемента списка преимуществ блока современности*/
}

.modern_image {
  width: 54.4rem; /*ширина изображения блока современности*/
  height: auto; /*автоматическая высота изображения блока современности*/
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 10px 10px 0px #0000000a; /*тень изображения блока современности*/
  box-shadow: 0px 20px 25px 0px #0000001a; /*тень изображения блока современности*/
}

.modern_image:hover {
  box-shadow: 0px 10px 10px 0px #00000029; /*тень изображения блока современности при наведении*/
  box-shadow: 0px 20px 25px 0px #00000034; /*тень изображения блока современности при наведении*/
}

/* Features */

.features {
  margin-top: 12.8rem; /*отступ сверху у блока особенностей*/
}

.features_wrapper {
  display: flex; /*делает обертку блока особенностей флексом*/
  justify-content: space-between; /*распределяет элементы обертки блока особенностей по краям*/
}

.features_image {
  width: 54.4rem; /*ширина изображения блока особенностей*/
  height: 42.7rem; /*автоматическая высота изображения блока особенностей*/
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 10px 10px 0px #0000000a; /*тень изображения блока особенностей*/
  box-shadow: 0px 20px 25px 0px #0000001a; /*тень изображения блока особенностей*/
}

.features_image:hover {
  box-shadow: 0px 10px 10px 0px #00000029; /*тень изображения блока особенностей при наведении*/
  box-shadow: 0px 20px 25px 0px #00000034; /*тень изображения блока особенностей при наведении*/
}

.features_content {
  max-width: 44.8rem; /*максимальная ширина контента блока особенностей*/
}

.features_subtitle {
  font-weight: 400; /*жирность подзаголовка блока особенностей*/
  font-size: 1.6rem; /*размер подзаголовка блока особенностей*/
  line-height: 134%; /*высота строки подзаголовка блока особенностей*/
  letter-spacing: 1%; /*интервал между буквами подзаголовка блока особенностей*/
  color: #25468a; /*цвет подзаголовка блока особенностей*/
}

.features_title {
  font-weight: 700; /*жирность заголовка блока особенностей*/
  font-size: 32px; /*размер заголовка блока особенностей*/
  line-height: 134%; /*высота строки заголовка блока особенностей*/
  letter-spacing: 1%; /*интервал между буквами заголовка блока особенностей*/
  color: #1391ce; /*цвет заголовка блока особенностей*/
  margin-top: 1.6rem; /*отступ сверху у заголовка блока особенностей*/
}

.features_outputs {
  margin-top: 3.2rem; /*отступ сверху у списка преимуществ блока особенностей*/
}

.features_outputs_items {
  width: 44.8rem; /*ширина элемента списка преимуществ блока особенностей*/
  display: flex; /*делает элемент списка преимуществ блока особенностей флексом*/
  align-items: flex-start; /*выравнивание элементов списка преимуществ блока особенностей по центру*/
  gap: 1.6rem; /*расстояние между элементами списка преимуществ блока особенностей*/
  margin-top: 0.8rem; /*отступ сверху у элемента списка преимуществ блока особенностей*/
}

/* Infosource */

.infosource {
  margin-top: 12.8rem; /*отступ сверху у блока информационного источника*/
  margin-bottom: 6.5rem; /*отступ снизу у блока информационного источника*/
}

.infosource_wrapper {
  display: flex; /*делает обертку блока информационного источника флексом*/
  gap: 9.6rem; /*расстояние между элементами обертки блока информационного источника*/
  align-items: flex-start; /*выравнивание элементов обертки блока информационного источника по центру к верху*/
}

.infosource_text {
  max-width: 48.1rem; /*минимальная ширина текста блока информационного источника*/
}

.infosource_title {
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 121%;
  letter-spacing: 1%;
  color: #1391ce;
}

.infosource_text {
  margin-top: 1.6rem; /*отступ сверху у текста блока информационного источника*/
  font-weight: 400; /*жирность текста блока информационного источника*/
  font-size: 1.8rem; /*размер текста блока информационного источника*/
  line-height: 134%; /*высота строки текста блока информационного источника*/
  letter-spacing: 2%; /*интервал между буквами текста блока информационного источника*/
  color: #4f4f4f; /*цвет текста блока информационного источника*/
}
